section.we-can
    h3#wecan Мы можем:
    ul
        li проводить семинары и лекции по методам нейропсихологии - развитие памяти, внимания, мышления, работоспособности, по ощущению и восприятию, преодолею стресса и психогигиене, мотивации
        li создавать игры: бланковые, настольные
        li внедрять точечные решения по геймификации бизнесс-процессов
        li программы обучения и внутренние продукты для компаний с позиций геймификации и нейропсихологии