section.trainings
    h3#trainings Семинары, лекции, тренинги
    p Мы провели около 50 семинаров для специалистов по методам нейропсихологической коррекции, нейроигротек и лекций в разных городах России: Москва, Санкт-Петербург, Рязань, Нижний Новгород, Казань. Темы: «Трудности школьного обучения. Нейропсихологический подход к преодолению», «Нейропсихологическая коррекция. Двигательный нейроинтенсив». Группа в vk “Семинары по Нейропсихологии”. "Развитие мотивации и профилактика эмоционального выгорания". "Сохрани и преумножай связи: Развитие внимания и памяти", "Бей! Беги!Замри! Как снять стресс"
    h4 Наши меропрития
    .trainings__row.row
        .trainings__img.img__empty
            img(src='../img/seminar1.jpg' data-alt='Картинка раздела')

        .trainings__img.img__empty
            img(src='../img/seminar2.jpg' data-alt='Картинка раздела')

        .trainings__img.img__empty
            img(src='../img/seminar3.jpg' data-alt='Картинка раздела')

        .trainings__img.img__empty
            img(src='../img/seminar4.jpg' data-alt='Картинка раздела')

        .trainings__img.img__empty
            img(src='../img/seminar5.jpg' data-alt='Картинка раздела')

        .trainings__img.img__empty
            img(src='../img/seminar6.jpg' data-alt='Картинка раздела')

        .trainings__img.img__empty
            img(src='../img/seminar7.jpg' data-alt='Картинка раздела')

        .trainings__img.img__empty
            img(src='../img/seminar8.jpg' data-alt='Картинка раздела')

        .trainings__img.img__empty
            img(src='../img/seminar9.jpg' data-alt='Картинка раздела')

        .trainings__img.img__empty
            img(src='../img/10.jpg' data-alt='Картинка раздела')

        .trainings__img.img__empty
            img(src='../img/11.jpg' data-alt='Картинка раздела')


