section.benefits
    h3#benefits Пособия
    p Мы разработали комплекты стимульных материалов, направленных  на развитие внимания, мышления. Адаптировали материалы для работы с детьми 5-12 лет, и теперь нашими пособиями пользуются специалисты - психологи, нейропсихологи, логопеды по всей России.<br><br>Игры созданы совместно с издательством психологической литературы "Генезис"
    h4#decryption Расшифровки и не только
    .benefits__row.row
        .benefits__img
            img(data-src='../img/decryption.webp' data-alt='Расшифровки и не только')
        p Комплект для развития логического и пространственного мышления у детей от 6 до 12 лет состоит из материалов трех видов, основанных на хорошо известной нейропсихологам работе с последовательностями и визуальным моделированием.<br><br>Задания каждого блока выстроены по степени сложности и представляют собой систему упражнений, тренирующую навык поэтапного решения задач.<br><br>Суть упражнений блока «Расшифровки» в том, чтобы из перепутанных фрагментов поэтапного изображения картинки, каждому из которых соответствует одна буква, выстроить правильную последовательность и составить конечное Слово или фразу.
        .benefits__pwithimg
            img(data-src='../img/decryption-task.webp' data-alt='Расшифровки и не только - задание')
    .benefits__row.row
        .benefits__img
            img(data-src='../img/decryption-set.webp' data-alt='Расшифровки и не только - комплект')
        p В упражнениях блока «Перестановки» ребенку предлагается четыре расположенные в ряд фигуры разных форм, цветов, с разными заливками и дополнительными элементами. Нужно изобразить новую последовательность фигур с учетом сформулированных в инструкции изменений.<br><br>В упражнениях блока «Замены» нужно скопировать трудновербализуемую фигуру, составленную из элементов разных повторяющихся цветов, на отдельном листе так, чтобы элементы повторяющихся цветов были одного цвета, но не такого, как на эталонном образце. При этом набор цветов и расположение элементов должны остаться исходными.
        a(href="https://www.wildberries.ru/catalog/0/search.aspx?search=%D1%80%D0%B0%D1%81%D1%88%D0%B8%D1%84%D1%80%D0%BE%D0%B2%D0%BA%D0%B8%20%D0%B8%20%D0%BD%D0%B5%20%D1%82%D0%BE%D0%BB%D1%8C%D0%BA%D0%BE" target="_blank") Wildberries
    h4#attention Внимание, нейропсихолог на связи!
    .benefits__row.row
        .benefits__img
            img(data-src='../img/neuropsy-connect.webp' data-alt='Игра Внимание, нейропсихолог на связи')
        div
            p Для того чтобы адаптироваться к школе и усваивать программу, ребенку нужно научиться не только слышать и понимать инструкцию, но и:
            ul
                li следовать ей; делать не то, что хочется, а то, что надо;
                li концентрироваться на содержании задания;
                li представлять цель и сверяться с ней.
            p А значит, к началу школьного обучения ребенок должен достичь определенного уровня развития произвольной регуляции и внимания.
        .benefits__pwithimg
        p Если этого не произошло, то возникают трудности в обучении и адаптации, снижается учебная мотивация, появляются коммуникативные и эмоциональные проблемы <br><br>Как помочь ребенку? <br><br>В таких случаях нейропсихологи используют упражнения для развития распределения внимания и способности действовать в условиях многозадачности. Например, «Муха» и «Корректурные задания». <br><br>Суть упражнений типа «Муха»: ребенок должен, в точности следуя указаниям взрослого, перемещать воображаемую муху по таблице. Например: «Муха сидела в нижнем ряду во второй клетке справа. <br><br>Потом она перелетела на одну клетку вверх, затем на две влево. Где муха?» <br><br>Сначала это можно делать, перемещая по таблице реальный предмет или вычерчивая траекторию движения мухи карандашом.
        .benefits__row.row
            p Затем - муху можно перемещать только «в уме».<br><br>Усложненный вариант - перемещение мухи по клеткам с числами (и с ними попутно производятся разные арифметические операции) и с буквами (они в результате складываются в слова). <br><br>Задача ребенка, выполняющего «Корректурные задания»: среди множества расположенных на листе изображений найти те, которые соответствуют заданным требованиям, и произвести с ними заранее определенное взрослым действие. <br><br>Например: «Обведи всех попугаев с хохолком и коротким ХВОСТОМ». <br><br>Именно такие упражнения представлены в комплекте материалов «Внимание! Нейропсихолог на связи».
        .benefits__img
            img(data-src='../img/neuropsy-connect-watch.webp' data-alt='Внимание, нейропсихолог на связи - часики')
            p.disabled Поиграем?
            .benefits__game
                img(data-src='../img/neuropsy-connect-watch-instr.webp' data-alt='Внимание, нейропсихолог на связи - инструкция')