section.merch
    h3#merch Мерч - Футболка с нейроиграми
    .merch__row.row
        .merch__img
            img(data-src='../img/merch.webp' data-alt='Наш мерч')
        p На базе бланковых методик мы создаем фирменную продукцию для брендов с учетом потребностей. Например, игровой мерч, позволяющий сотрудникам детской центра демонстрировать упражнения, которые всегда при себе, так как нанесены на футболку.