section.games
    h3#games Игры
    p Мы создали нейропсихологические игры для детей, но в них интересно играть и взрослым! Наши игры направлены на развитие самоконтроля, внимания, планирования, преодоления импульсивности в решениях, мелкой моторики и скорости реакции.<br><br>Игры созданы совместно с издательством психологической литературы "Генезис"
    h4#onetwothree Раз, два, три, сравни и забери!
    .games__row.row
        .games__img
            img(data-src='../img/123.webp' data-alt='Картинка раздела')
        div
            p В набор входят:
            ul
                li 54 карты (2 одинаковых набора по 27 карт) с изображениями: членов семьи (мама, папа, сын), их питомцев (кот, собака, птичка) и домашних растений (трава, кактус, цветок) в разных комбинациях;
                li 10 карт с изображением действий «мозголомок»);
                li 2 инструкции (для родителей и для специалистов);
                li памятка для игроков.
            p Рекомендуемый возраст: от 5 лет.
        .games__pwithimg
            img(data-src='../img/123-set.webp' data-alt='Картинка раздела')
    .games__row.row
        p Основная задача игроков - быстрее соперников найти среди разложенных на столе карт комбинацию из трех карт, которые различаются по одному, двум или трем признакам, и схватить их, предварительно совершив определенное действие. <br><br>Выигрывает тот игрок, который собрал больше всех карт! <br><br>В чем польза игры?
        p Сравнивая изображения одновременно по нескольким признакам, находя и называя различия и сходства, ребенок осваивает операции сравнения, учится контролировать свое поведение - сначала думать, а потом делать. <br><br>В игре также развиваются внимание, память, мышление, зрительное восприятие и речь.
        .games__img
            img(data-src='../img/123-games.webp' data-alt='Картинка раздела')
    h4#anchor Руки-трюки
    .games__row.row
        .games__img
            img(data-src='../img/tricks.webp' data-alt='Картинка раздела')
        div
            p В набор входят:
            ul
                li 80 карточек с изображением рук, держащих различные игровые предметы (20 карт для правой руки, 20 - для левой, 40 - для обеих рук).
                li 8 игровых предметов: два кубика, два жетона, две резинки, две фишки;
                li инструкция.
            p На карточках нарисованы руки, удерживающие между пальцами мелкие предметы (жетоны, фишки, кубики, резиночки). Рядом с каждым игроком лежат те же предметы, которые изображены на карточках. <br><br>Задача игрока - быстрее соперника воспроизвести положения рук, удерживая предметы так, как изображено на карточках.
        .games__pwithimg
            img(data-src='../img/tricks-palm.webp' data-alt='Картинка раздела')
    .games__row.row
        p Игровой комплект рассчитан на двух игроков, не считая ведущего. На одного игрока приходятся одна резиночка, один кубик, один жетон и одна фишка. Предметы подобраны таким образом, что в случае их утери или если нужно увеличить количество игроков, предметы можно было бы легко заменить или дополнить. <br><br>Игра предназначена для детей дошкольного и школьного возраста, однако подойдет и для взрослой компании.
        p Специалисты (нейропсихологи, логопеды, дефектологи) могут использовать игру в индивидуальной коррекционно-развивающей работе, а взрослые, которые занимаются с ребенком самостоятельно, - для того, чтобы подготовить руку к письму, да и просто весело и скользкой провести время.
        .games__img
            img(data-src='../img/tricks-infinity.webp' data-alt='Картинка раздела')

    h4#giraffe Жирафики
    .games__row.row
        .games__img
            p "Жирафики" - нейропсихологическая игра. Острожно, вызывает "шевеление" мозгов!
            img(data-src='../img/giraffes.webp' data-alt='Картинка раздела')
        .games__pwithimg
            p Нравятся как детям, так и взрослым) Игра развивает внимание, мышление, восприятие! А самое главное - формирует и закрепляет у ребёнка способность к программированию, регуляции и контролю собственной деятельности. Направлена на преодоление импульсивности.
            img(data-src='../img/giraffe-spread.webp' data-alt='Картинка раздела')
        .games__row.row
            p В наборе карточки с изображениями жирафов, от которых рябит в глазах. Задача игрока - искать верные наборы. Такие комбинации жирафов, на которых изображения различаются по одному, двум или трём признакам, а по остальным - совпадают.
            .games__img
                img(data-src='../img/giraffe-one.webp' data-alt='Картинка раздела')