section.table-of-contents
    .table-of-contents__row.row
        .table-of-contents__illustration
            img(data-src="../img/with-brain.webp" alt-src="Наше основное поле деятельности - мозг")
        .table-of-contents__info
            h3 Оглавление
                ol
                    li <a href='#benefits'>Пособия</a>
                        ul
                            li <a href='#decryption'>Расшифровки и не только</a>
                            li <a href='#attention'>Внимание, нейропсихолог на связи!</a>
                    li <a href='#games'>Игры</a>
                        ul
                            li <a href='#onetwothree'>Раз, два, три, сравни и забери!</a>
                            li <a href='#tricks'>Руки-трюки</a>
                            li <a href='#giraffe'>Жирафики</a>
                    li <a href='#tasks'>Бланковые задания</a>
                        ul
                            //li <a href='#chess'>Шахматы</a>
                            li <a href='#letters'>Буквы с индексами</a>
                    li <a href='#wecan'>Мы можем</a>
                    li <a href='#merch'>Мерч - футболка с нейроиграми</a>
                    li <a href='#trainings'>Семинары, лекции, тренинги</a>
                    li <a href='#media'>Мы в СМИ</a>
