section.tasks
    h3#tasks Бланковые задания
    p В интенсивной среде человеку приходится нарабатывать устойчивость к нагрузкам,  уметь запоминать и воспроизводить  большой объем материала, работать в условиях многозадачности. Это касается всех людей, находящихся в условиях непрерывного обучения.  Мы предлагаем бланковые игры для того, чтобы можно было тренировать мозг, не сходя с места.
    //h4#chess Шахматы
    //.tasks__row.row
    //    .tasks__img
    //        img(data-src='../img/img.jpg' data-alt='Картинка раздела')
    //    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam aspernatur assumenda culpa, eligendi enim error fugiat id impedit maiores maxime modi nobis nostrum officia, perferendis quam quis ratione reprehenderit sint soluta vel veniam vero voluptatum.
    //    .tasks__pwithimg
    //        p Accusantium, amet aut beatae doloribus, earum facilis ipsa maiores molestiae, quod ut velit veniam voluptates.
    //        img(data-src='../img/img.jpg' data-alt='Картинка раздела')
    //.tasks__row.row
    //    p Больше какого-нибудь текста, больше информации, пример работы той или иной методики
    //    p Больше какого-нибудь текста, больше информации, пример работы той или иной методики
    //    .tasks__img
    //        img(data-src='../img/img.jpg' data-alt='Картинка раздела')
    h4#letters Буквы с индексами
    .tasks__row.row
        .tasks__img
            img(data-src='../img/letters.webp' data-alt='Задание буквы с индексами')
        .tasks__pwithimg
            h5 Поиграем? Задание
            p На бланк нанесены буквы с индексами. Исходное положение - ладони на столе. Видишь индекс П - поднимай правую руку. Видишь Л - левую. Индекс о - обе. Х - руки лежат в исходном положении. Индекс 8 означает волнообразные движения рук в воздухе по направлению друг к другу.
            p Задача игрока: называть слова, которые начинаются на букву, написанную зеленым цветом, одновременно выполняя движения руками.
            p Уровень сложнее: Называть такие слова, в которых есть буква, написанная зеленым цветом, но не находится ни в начале, ни в конце.  При этом выполняем движения руками с опорой на индекс. <br><br>Еще сложнее: <br>Называть такие слова, в которых отсутствует указанная зеленая буква.  При этом движения выполняем любое, но только не то, которое продиктовано индексом.